<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">
<!--BEGIN OF INSIGHTS-->
    <div class="insights">
        <div class="{{card.class}}" *ngFor="let card of cards">
            <span class="material-icons-outlined">{{card.icon}}</span>
                <div class="middle">
                    <div class="left">
                        <h3>{{card.title}}</h3>
                        <h1> {{ card.value | currency: 'EUR'}}</h1>
                    </div>
                </div>   
                <small class="text-muted">Last 30 Days</small>          
        </div>
    </div>
<!--END OF INSIGHTS-->
