<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">

<div class="container">
    <!--BEGIN OF SIDEBAR-->
    <app-sidebar></app-sidebar>
    <!--END OF SIDEBAR-->
    <!--BEGIN OF DASHBOARD-->
    <main>
        <h1 style="margin-top: 5rem">Dashboard</h1>

 <!--BEGIN OF INSIGHTS-->
        <app-insights></app-insights>
 <!--END OF INSIGHTS-->

    <!--BEGIN OF RECENT ORDERS TABLE-->
        <div class="sales-analytics">
            <div class="item online">
                <div class="icon">
                    <span class="material-icons-outlined">
                        shopping_cart
                    </span>                            
                </div>
                <div class="right">
                    <div class="info">
                        <h3>FOOD</h3>
                        <small class="text-muted">Limit: 400€</small>
                    </div>
                    <div class="limitnumber">
                        <h3>300€</h3>
                    </div>
                    <div class="limit">
                        <p><ngb-progressbar [showValue]="true" [value]="75" class="orangebar"></ngb-progressbar></p> 
                    </div>
                </div>
            </div>
            <div class="item offline">
                <div class="icon">
                    <span class="material-icons-outlined">
                        local_mall
                    </span>                            
                </div>
                <div class="right">
                    <div class="info">
                        <h3>CLOTHES</h3>
                        <small class="text-muted">Limit: 150€</small>
                    </div>
                    <div class="limitnumber">
                        <h3>30€</h3>
                    </div>
                    <div class="limit">
                        <p><ngb-progressbar [showValue]="true" type="success" [value]="20"></ngb-progressbar></p> 
                    </div>
                </div>
            </div>
            <div class="item customer">
                <div class="icon">
                    <span class="material-icons-outlined">
                        person
                    </span>                            
                </div>
                <div class="right">
                    <div class="info">
                        <h3>GIFTS</h3>
                        <small class="text-muted">Limit: 100€</small>
                    </div>
                    <div class="limitnumber">
                        <h3>100€</h3>
                    </div>
                    <div class="limit">
                        <p><ngb-progressbar [showValue]="true" type="danger" [value]="150"></ngb-progressbar></p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="add">
            <div class="first">
                Add New Category
            </div>
        </div>
    </main>
    <!--END OF MAIN-->
    <div class="right">
        <div class="top">
            <button id="menu-btn">
                <span class="material-icons-outlined">
                    menu
                    </span>                    
            </button>
            <div class="theme-toggler">
                <span class="material-icons-outlined active">
                    light_mode
                </span>
                <span class="material-icons-outlined">
                    dark_mode
                </span>
            </div>
            <div class="profile">
                <div class="info">
                    <p>Hey, <b>Tsipi</b></p>
                    <small class="text-muted">Admin</small>
                </div>
                <div class="profile-photo">
                    
                </div>
            </div>
        </div>
        <div class="recent-updates">
            <h2>Recent Updates</h2>
            <div class="updates">
                <div class="update">
                    <div class="profile-photo">
                        <span class="material-icons-outlined">
                            person
                        </span>   
                    </div>
                    <div class="message">
                        <p><b>Elon Musk</b> kommt nicht ins Berghain!</p>
                        <small class="text-muted">Vor wenigen Sekunden</small>
                    </div>
                </div>
                <div class="update">
                    <div class="profile-photo">
                        <span class="material-icons-outlined">
                            person
                        </span>   
                    </div>
                    <div class="message">
                        <p><b>Elon Musk</b> kommt nicht ins Berghain!</p>
                        <small class="text-muted">Vor wenigen Sekunden</small>
                    </div>
                </div>
                <div class="update">
                    <div class="profile-photo">
                        <span class="material-icons-outlined">
                            person
                        </span>   
                    </div>
                    <div class="message">
                        <p><b>Elon Musk</b> kommt nicht ins Berghain!</p>
                        <small class="text-muted">Vor wenigen Sekunden</small>
                    </div>
                </div>
            </div>
            <!--END OF RECENT UPDATES-->
            <div class="sales-analytics">
                <h2>Recent Expenses</h2>
                <div class="item online">
                    <div class="icon">
                        <span class="material-icons-outlined">
                            shopping_cart
                        </span>                            
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>SALARY</h3>
                            <small class="text-muted">16.08.2022</small>
                        </div>
                        <h5 class="success">+3.900€</h5>
                    </div>
                </div>
                <div class="item offline">
                    <div class="icon">
                        <span class="material-icons-outlined">
                            local_mall
                        </span>                            
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>LIEFERANDO</h3>
                            <small class="text-muted">10.08.2022</small>
                        </div>
                        <h5 class="danger">-17€</h5>
                    </div>
                </div>
                <div class="item customer">
                    <div class="icon">
                        <span class="material-icons-outlined">
                            person
                        </span>                            
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>GIFT</h3>
                            <small class="text-muted">05.08.2022</small>
                        </div>
                        <h5 class="success">+25€</h5>
                    </div>
                </div>
            </div>
            <div class="add">
                <div class="first">
                    <span class="material-icons-outlined">
                        add
                    </span>
                    Add New Expense 
                </div>
                <a href="/income">
                    <div class="second">
                        <span class="material-icons-outlined">
                            add
                        </span>
                        Add New Income
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
