   <!--BEGIN OF EXPENSE LIST-->
    <div class="{{stretchCard.class}}" *ngFor="let stretchCard of stretchCards">
        <div class="icon">
            <span class="material-icons-outlined">
                {{stretchCard.icon}}
            </span>                            
        </div>
        <div class="right">
            <div class="info">
                <h3>{{stretchCard.title}}</h3>
                <small class="text-muted">{{stretchCard.smallText}}</small>
            </div>
            <div class="incomedate">
                <h3>{{stretchCard.reason}}</h3>
            </div>
            <div class="plus">
                <h3 [ngClass]="stretchCard.amount > 0 ? 'success' : 'danger'">{{stretchCard.amount | currency: 'EUR'}}</h3>
            </div>
        </div>
    </div>
    <div class="add">
        <div class="first">
            Load More
        </div>
    </div>
   <!--  <div class="item offline">
        <div class="icon">
            <span class="material-icons-outlined">
                local_mall
            </span>                            
        </div>
        <div class="right">
            <div class="info">
                <h3>ONLYFANS</h3>
                <small class="text-muted">08.08.2022</small>
            </div>
            <div class="incomedate">
                <h3>PERSONAL</h3>
            </div>
            <div class="plus">
                <h3 class="danger">-90€</h3>
            </div>
        </div>
    </div>
    <div class="item customer">
        <div class="icon">
            <span class="material-icons-outlined">
                person
            </span>                            
        </div>
        <div class="right">
            <div class="info">
                <h3>GIFT</h3>
                <small class="text-muted">08.08.2022</small>
            </div>
            <div class="incomedate">
                <h3>PERSONAL</h3>
            </div>
            <div class="plus">
                <h3 class="danger">-25€</h3>
            </div>
        </div>
    </div>
    <div class="item offline">
        <div class="icon">
            <span class="material-icons-outlined">
                local_mall
            </span>                            
        </div>
        <div class="right">
            <div class="info">
                <h3>DEBTS</h3>
                <small class="text-muted">08.08.2022</small>
            </div>
            <div class="incomedate">
                <h3>DEBTS</h3>
            </div>
            <div class="plus">
                <h3 class="danger">-20€</h3>
            </div>
        </div>
    </div>
    <div class="item offline">
        <div class="icon">
            <span class="material-icons-outlined">
                local_mall
            </span>                            
        </div>
        <div class="right">
            <div class="info">
                <h3>RENT</h3>
                <small class="text-muted">08.08.2022</small>
            </div>
            <div class="incomedate">
                <h3>GENERAL</h3>
            </div>
            <div class="plus">
                <h3 class="danger">-1000€</h3>
            </div>
        </div>
    </div>
    <div class="item offline">
        <div class="icon">
            <span class="material-icons-outlined">
                local_mall
            </span>                            
        </div>
        <div class="right">
            <div class="info">
                <h3>PIZZA</h3>
                <small class="text-muted">08.08.2022</small>
            </div>
            <div class="incomedate">
                <h3>FOOD</h3>
            </div>
            <div class="plus">
                <h3 class="danger">-9€</h3>
            </div>
        </div>
    </div>
 -->
<!--END OF EXPENSE LIST-->