<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">

<div class="container">
    <!--BEGIN OF SIDEBAR-->
    <app-sidebar></app-sidebar>
    <!--END OF SIDEBAR-->
    <!--BEGIN OF DASHBOARD-->
    <main>
        <h1>Expenses</h1>
                    <!--BEGIN OF EXPENSE LIST-->
        <div class="sales-analytics">
            <div class="item online">
                <div class="icon">
                    <span class="material-icons-outlined">
                        shopping_cart
                    </span>                            
                </div>
                <div class="right">
                    <div class="info">
                        <h3>Cigarettes</h3>
                        <small class="text-muted">08.08.2022</small>
                    </div>
                    <div class="incomedate">
                        <h3>PERSONAL</h3>
                    </div>
                    <div class="plus">
                        <h3 class="danger">-3.900€</h3>
                    </div>
                </div>
            </div>
            <div class="item offline">
                <div class="icon">
                    <span class="material-icons-outlined">
                        local_mall
                    </span>                            
                </div>
                <div class="right">
                    <div class="info">
                        <h3>ONLYFANS</h3>
                        <small class="text-muted">08.08.2022</small>
                    </div>
                    <div class="incomedate">
                        <h3>PERSONAL</h3>
                    </div>
                    <div class="plus">
                        <h3 class="danger">-90€</h3>
                    </div>
                </div>
            </div>
            <div class="item customer">
                <div class="icon">
                    <span class="material-icons-outlined">
                        person
                    </span>                            
                </div>
                <div class="right">
                    <div class="info">
                        <h3>GIFT</h3>
                        <small class="text-muted">08.08.2022</small>
                    </div>
                    <div class="incomedate">
                        <h3>PERSONAL</h3>
                    </div>
                    <div class="plus">
                        <h3 class="danger">-25€</h3>
                    </div>
                </div>
            </div>
            <div class="item offline">
                <div class="icon">
                    <span class="material-icons-outlined">
                        local_mall
                    </span>                            
                </div>
                <div class="right">
                    <div class="info">
                        <h3>DEBTS</h3>
                        <small class="text-muted">08.08.2022</small>
                    </div>
                    <div class="incomedate">
                        <h3>DEBTS</h3>
                    </div>
                    <div class="plus">
                        <h3 class="danger">-20€</h3>
                    </div>
                </div>
            </div>
            <div class="item offline">
                <div class="icon">
                    <span class="material-icons-outlined">
                        local_mall
                    </span>                            
                </div>
                <div class="right">
                    <div class="info">
                        <h3>RENT</h3>
                        <small class="text-muted">08.08.2022</small>
                    </div>
                    <div class="incomedate">
                        <h3>GENERAL</h3>
                    </div>
                    <div class="plus">
                        <h3 class="danger">-1000€</h3>
                    </div>
                </div>
            </div>
            <div class="item offline">
                <div class="icon">
                    <span class="material-icons-outlined">
                        local_mall
                    </span>                            
                </div>
                <div class="right">
                    <div class="info">
                        <h3>PIZZA</h3>
                        <small class="text-muted">08.08.2022</small>
                    </div>
                    <div class="incomedate">
                        <h3>FOOD</h3>
                    </div>
                    <div class="plus">
                        <h3 class="danger">-9€</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="add">
            <div class="first">
                Load More
            </div>
        </div>
        <!--END OF EXPENSE LIST-->

    </main>
    <!--END OF MAIN-->
    <div class="right">
        <div class="top">
            <button id="menu-btn">
                <span class="material-icons-outlined">
                    menu
                    </span>                    
            </button>
            <div class="theme-toggler">
                <span class="material-icons-outlined active">
                    light_mode
                </span>
                <span class="material-icons-outlined">
                    dark_mode
                </span>
            </div>
            <div class="profile">
                <div class="info">
                    <p>Hey, <b>Tsipi</b></p>
                    <small class="text-muted">Admin</small>
                </div>
                <div class="profile-photo">
                    
                </div>
            </div>
        </div>
        <div class="recent-updates">
            <h2>Recent Updates</h2>
            <div class="updates">
                <div class="update">
                    <div class="profile-photo">
                        <span class="material-icons-outlined">
                            person
                        </span>   
                    </div>
                    <div class="message">
                        <p> Add New Expense:</p>
                    </div>
                </div>
                <div class="update">
                    <div class="profile-photo">

                    </div>
                    <div class="message">
                        <input class="first" type="text" placeholder="  Value"> 
                        <input class="value" type="text" placeholder="  Subject">
                        <input class="date" type="date">
                        <select name="categories" id="categories">
                            <option value="" disabled selected hidden>Select Category</option>
                            <option value="Clothes">Clothes</option>
                            <option value="Food">Food</option>
                            <option value="Rent">Rent</option>
                        </select>
                    </div>
                </div>
                <div class="update">
                    <div class="profile-photo">
                    </div>
                    <div class="message">
                        <button mat-raised-button>Add New Expense</button>
                    </div>
                </div>
            </div>
            <!--END OF RECENT UPDATES-->
        </div>
    </div>
</div>
