<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">

<div class="container">
    <!--BEGIN OF SIDEBAR-->
    <app-sidebar></app-sidebar>
    <!--END OF SIDEBAR-->
    <!--BEGIN OF DASHBOARD-->
    <main>
        <h1>Categories</h1>

    <!--BEGIN OF CATEGORY LIST-->
        <div class="sales-analytics">
            <div class="item online">
                <div class="icon">
                    <span class="material-icons-outlined">
                        shopping_cart
                    </span>                            
                </div>
                <div class="right">
                    <div class="info">
                        <h3>FOOD</h3>
                        <small class="text-muted">Limit: 400€</small>
                    </div>
                    <div class="limitnumber">
                        <h3>300€</h3>
                    </div>
                    <div class="limit">
                        <p><ngb-progressbar [showValue]="true" [value]="75" class="orangebar"></ngb-progressbar></p> 
                    </div>
                </div>
            </div>
            <div class="item offline">
                <div class="icon">
                    <span class="material-icons-outlined">
                        local_mall
                    </span>                            
                </div>
                <div class="right">
                    <div class="info">
                        <h3>CLOTHES</h3>
                        <small class="text-muted">Limit: 150€</small>
                    </div>
                    <div class="limitnumber">
                        <h3>30€</h3>
                    </div>
                    <div class="limit">
                        <p><ngb-progressbar [showValue]="true" type="success" [value]="20"></ngb-progressbar></p> 
                    </div>
                </div>
            </div>
            <div class="item customer">
                <div class="icon">
                    <span class="material-icons-outlined">
                        person
                    </span>                            
                </div>
                <div class="right">
                    <div class="info">
                        <h3>GIFTS</h3>
                        <small class="text-muted">Limit: 100€</small>
                    </div>
                    <div class="limitnumber">
                        <h3>100€</h3>
                    </div>
                    <div class="limit">
                        <p><ngb-progressbar [showValue]="true" type="danger" [value]="150"></ngb-progressbar></p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="add">
            <div class="first">
                Add New Category
            </div>
        </div>
        <!--END OF CATEGORY LIST-->
    </main>
    <!--END OF MAIN-->
    <div class="right">
        <div class="top">
            <button id="menu-btn">
                <span class="material-icons-outlined">
                    menu
                    </span>                    
            </button>
            <div class="theme-toggler">
                <span class="material-icons-outlined active">
                    light_mode
                </span>
                <span class="material-icons-outlined">
                    dark_mode
                </span>
            </div>
            <div class="profile">
                <div class="info">
                    <p>Hey, <b>Tsipi</b></p>
                    <small class="text-muted">Admin</small>
                </div>
                <div class="profile-photo">
                    
                </div>
            </div>
        </div>
        <div class="recent-updates">
            <h2>Recent Updates</h2>
            <div class="updates">
                <div class="update">
                    <div class="profile-photo">
                        <span class="material-icons-outlined">
                            person
                        </span>   
                    </div>
                    <div class="message">
                        <p> Add New Income:</p>
                    </div>
                </div>
                <div class="update">
                    <div class="profile-photo">

                    </div>
                    <div class="message">
                        <input class="first" type="text" placeholder="  Value">
                        <input class="value" type="text" placeholder="  Subject">
                        <input class="date" type="date">
                    </div>
                </div>
                <div class="update">
                    <div class="profile-photo">
                    </div>
                    <div class="message">
                        <button mat-raised-button>Add New Income</button>
                    </div>
                </div>
            </div>
            <!--END OF RECENT UPDATES-->
        </div>
    </div>
</div>
