<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">

<div class="container">
    <!--BEGIN OF SIDEBAR-->
    <aside>
        <div class="top">
            <div class="logo">
                <img src="../assets/images/xpense_tracker_logo.png" alt="">
            </div>
            <div class="close" id="close-btn">
                <span class="material-icons-outlined">close</span>
            </div>
        </div>

        <div class="sidebar">
            <a href="dashboard">
                <span class="material-icons-outlined">grid_view</span>
                <h3>Dashboard</h3>
            </a>
            <a href="income">
                <span class="material-icons-outlined">savings</span>
                <h3>Income</h3>
            </a>
            <a href="expenses">
                <span class="material-icons-outlined">payments</span>
                <h3>Expenses</h3>
            </a>
            <a href="#">
                <span class="material-icons-outlined">insights</span>
                <h3>Analytics</h3>
            </a>
            <a href="#">
                <span class="material-icons-outlined">query_stats</span>
                <h3>Shares</h3>
            </a>
            <a href="categories" class="active">
                <span class="material-icons-outlined">sell</span>
                <h3>Categories</h3>
            </a>
            <a href="categories">
                <span class="material-icons-outlined">newspaper</span>
                <h3>News</h3>
            </a>
            <a href="#">
                <span class="material-icons-outlined">settings</span>
                <h3>Settings</h3>
            </a>
            <a href="#">
                <span class="material-icons-outlined">logout</span>
                <h3>Logout</h3>
            </a>
            <!--ADD NEW SIDEBAR COMPONENTS HERE-->
        </div>
    </aside>
    <!--END OF SIDEBAR-->
    <!--BEGIN OF DASHBOARD-->
    <main>
        <h1>Income</h1>

    <!--BEGIN OF RECENT ORDERS TABLE-->
    <div class="recent-orders">
        <table>
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Value</th>
                    <th>Date</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Clothes</td>
                    <td>150€</td>
                    <td>150€</td>
                    <td><a href="#">Edit</a></td>
                    <td class="delete">
                        <span class="material-icons-outlined danger">
                            close
                        </span>  
                    </td>
                </tr>
                <tr>
                    <td>Food</td>
                    <td>400€</td>
                    <td>200€</td>
                    <td><a href="#">Edit</a></td>
                    <td>
                        <span class="material-icons-outlined">
                            close
                        </span>  
                    </td>
                </tr>
                <tr>
                    <td>Vacations</td>
                    <td>500€</td>
                    <td>50€</td>
                    <td><a href="#">Edit</a></td>
                    <td>
                        <span class="material-icons-outlined">
                            close
                        </span>  
                    </td>
                </tr>
                <tr>
                    <td>Clothes</td>
                    <td>150€</td>
                    <td>150€</td>
                    <td><a href="#">Edit</a></td>
                    <td>
                        <span class="material-icons-outlined">
                            close
                        </span>  
                    </td>
                </tr>
                <tr>
                    <td>Food</td>
                    <td>400€</td>
                    <td>200€</td>
                    <td><a href="#">Edit</a></td>
                    <td>
                        <span class="material-icons-outlined">
                            close
                        </span>  
                    </td>
                </tr>
                <tr>
                    <td>Vacations</td>
                    <td>500€</td>
                    <td>50€</td>
                    <td><a href="#">Edit</a></td>
                    <td>
                        <span class="material-icons-outlined">
                            close
                        </span>  
                    </td>
                </tr>
                <tr>
                    <td>Clothes</td>
                    <td>150€</td>
                    <td>150€</td>
                    <td><a href="#">Edit</a></td>
                    <td>
                        <span class="material-icons-outlined">
                            close
                        </span>  
                    </td>
                </tr>
                <tr>
                    <td>Food</td>
                    <td>400€</td>
                    <td>200€</td>
                    <td><a href="#">Edit</a></td>
                    <td>
                        <span class="material-icons-outlined">
                            close
                        </span>  
                    </td>
                </tr>
                <tr>
                    <td>Vacations</td>
                    <td>500€</td>
                    <td>50€</td>
                    <td><a href="#">Edit</a></td>
                    <td>
                        <span class="material-icons-outlined">
                            close
                        </span>  
                    </td>
                </tr>
                <tr>
                    <td>Clothes</td>
                    <td>150€</td>
                    <td>150€</td>
                    <td><a href="#">Edit</a></td>
                    <td>
                        <span class="material-icons-outlined">
                            close
                        </span>  
                    </td>
                </tr>
                <tr>
                    <td>Food</td>
                    <td>400€</td>
                    <td>200€</td>
                    <td><a href="#">Edit</a></td>
                    <td>
                        <span class="material-icons-outlined">
                            close
                        </span>  
                    </td>
                </tr>
                <tr>
                    <td>Vacations</td>
                    <td>500€</td>
                    <td>50€</td>
                    <td><a href="#">Edit</a></td>
                    <td>
                        <span class="material-icons-outlined">
                            close
                        </span>  
                    </td>
                </tr>
                <!--ADD NEW ELEMENTS HERE-->
            </tbody>
        </table>
        <a href="#">Load More</a>
        <!--END OF RECENT ORDER TABLE-->
    </div>
    </main>
    <!--END OF MAIN-->
    <div class="right">
        <div class="top">
            <button id="menu-btn">
                <span class="material-icons-outlined">
                    menu
                    </span>                    
            </button>
            <div class="theme-toggler">
                <span class="material-icons-outlined active">
                    light_mode
                </span>
                <span class="material-icons-outlined">
                    dark_mode
                </span>
            </div>
            <div class="profile">
                <div class="info">
                    <p>Hey, <b>Tsipi</b></p>
                    <small class="text-muted">Admin</small>
                </div>
                <div class="profile-photo">
                    
                </div>
            </div>
        </div>
        <div class="recent-updates">
            <h2>Recent Updates</h2>
            <div class="updates">
                <div class="update">
                    <div class="profile-photo">
                        <span class="material-icons-outlined">
                            person
                        </span>   
                    </div>
                    <div class="message">
                        <p> Add New Income:</p>
                    </div>
                </div>
                <div class="update">
                    <div class="profile-photo">

                    </div>
                    <div class="message">
                        <input class="first" type="text" placeholder="  Value">
                        <input class="value" type="text" placeholder="  Subject">
                        <input class="date" type="date">
                    </div>
                </div>
                <div class="update">
                    <div class="profile-photo">
                    </div>
                    <div class="message">
                        <button mat-raised-button>Add New Income</button>
                    </div>
                </div>
            </div>
            <!--END OF RECENT UPDATES-->
        </div>
    </div>
</div>
