<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">

<div class="container">
    <aside>
        <div class="top">
            <div class="logo">
                <h2>Xpense <span class="danger">Tracker</span></h2>
            </div>
            <div class="close" id="close-btn">
                <span class="material-icons-outlined">close</span>
            </div>
        </div>

        <div class="sidebar">
            <a href="#">
                <span class="material-icons-outlined">grid_view</span>
                <h3>Dashboard</h3>
            </a>
            <a href="#">
                <span class="material-icons-outlined">grid_view</span>
                <h3>Logout</h3>
            </a>
            <!--ADD NEW SIDEBAR COMPONENTS HERE-->
        </div>
    </aside>
</div>
