<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">

<div class="container">
    <!--BEGIN OF SIDEBAR-->
    <app-sidebar></app-sidebar>
    <!--END OF SIDEBAR-->
    <!--BEGIN OF DASHBOARD-->
    <main>
        <h1>Income</h1>

        <!--BEGIN OF INCOME LIST-->
        <div class="sales-analytics">
            <div class="item online">
                <div class="icon">
                    <span class="material-icons-outlined">
                        shopping_cart
                    </span>                            
                </div>
                <div class="right">
                    <div class="info">
                        <h3>SALARY</h3>
                    </div>
                    <div class="incomedate">
                        <h3>16.08.2022</h3>
                    </div>
                    <div class="plus">
                        <h3 class="success">+3.900€</h3>
                    </div>
                </div>
            </div>
            <div class="item offline">
                <div class="icon">
                    <span class="material-icons-outlined">
                        local_mall
                    </span>                            
                </div>
                <div class="right">
                    <div class="info">
                        <h3>POCKET MONEY</h3>
                    </div>
                    <div class="incomedate">
                        <h3>16.08.2022</h3>
                    </div>
                    <div class="plus">
                        <h3 class="success">+90€</h3>
                    </div>
                </div>
            </div>
            <div class="item customer">
                <div class="icon">
                    <span class="material-icons-outlined">
                        person
                    </span>                            
                </div>
                <div class="right">
                    <div class="info">
                        <h3>GIFT</h3>
                    </div>
                    <div class="incomedate">
                        <h3>15.08.2022</h3>
                    </div>
                    <div class="plus">
                        <h3 class="success">+25€</h3>
                    </div>
                </div>
            </div>
            <div class="item offline">
                <div class="icon">
                    <span class="material-icons-outlined">
                        local_mall
                    </span>                            
                </div>
                <div class="right">
                    <div class="info">
                        <h3>THANKS!</h3>
                    </div>
                    <div class="incomedate">
                        <h3>12.08.2022</h3>
                    </div>
                    <div class="plus">
                        <h3 class="success">+20€</h3>
                    </div>
                </div>
            </div>
            <div class="item offline">
                <div class="icon">
                    <span class="material-icons-outlined">
                        local_mall
                    </span>                            
                </div>
                <div class="right">
                    <div class="info">
                        <h3>DONATION</h3>
                    </div>
                    <div class="incomedate">
                        <h3>10.08.2022</h3>
                    </div>
                    <div class="plus">
                        <h3 class="success">+1000€</h3>
                    </div>
                </div>
            </div>
            <div class="item offline">
                <div class="icon">
                    <span class="material-icons-outlined">
                        local_mall
                    </span>                            
                </div>
                <div class="right">
                    <div class="info">
                        <h3>PAYPAL</h3>
                    </div>
                    <div class="incomedate">
                        <h3>08.08.2022</h3>
                    </div>
                    <div class="plus">
                        <h3 class="success">+9€</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="add">
            <div class="first">
                Load More
            </div>
        </div>
        <!--END OF INCOME LIST-->
    
    </main>
    <!--END OF MAIN-->
    <div class="right">
        <div class="top">
            <button id="menu-btn">
                <span class="material-icons-outlined">
                    menu
                    </span>                    
            </button>
            <div class="theme-toggler">
                <span class="material-icons-outlined active">
                    light_mode
                </span>
                <span class="material-icons-outlined">
                    dark_mode
                </span>
            </div>
            <div class="profile">
                <div class="info">
                    <p>Hey, <b>Tsipi</b></p>
                    <small class="text-muted">Admin</small>
                </div>
                <div class="profile-photo">
                    
                </div>
            </div>
        </div>
        <div class="recent-updates">
            <h2>Recent Updates</h2>
            <div class="updates">
                <div class="update">
                    <div class="profile-photo">
                        <span class="material-icons-outlined">
                            person
                        </span>   
                    </div>
                    <div class="message">
                        <p> Add New Income:</p>
                    </div>
                </div>
                <div class="update">
                    <div class="profile-photo">

                    </div>
                    <div class="message">
                        <input class="first" type="text" placeholder="  Value">
                        <input class="value" type="text" placeholder="  Subject">
                        <input class="date" type="date">
                    </div>
                </div>
                <div class="update">
                    <div class="profile-photo">
                    </div>
                    <div class="message">
                        <button mat-raised-button>Add New Income</button>
                    </div>
                </div>
            </div>
            <!--END OF RECENT UPDATES-->
        </div>
    </div>
</div>