<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">

    <aside>
        <div class="top">
            <div class="logo">
                <img src="../assets/images/xpense_tracker_logo.png" alt="">
            </div>
            <div class="close" id="close-btn">
                <span class="material-icons-outlined" id="dashboard_label">close</span>
            </div>
        </div>

    <div class="sidebar">
        <a href="dashboard" class="active">
            <span class="material-icons-outlined">grid_view</span>
            <h3>Dashboard</h3>
        </a>
        <a href="income">
            <span class="material-icons-outlined">savings</span>
            <h3>Income</h3>
        </a>
        <a href="expenses">
            <span class="material-icons-outlined">payments</span>
            <h3>Expenses</h3>
        </a>
        <a href="#">
            <span class="material-icons-outlined">insights</span>
            <h3>Analytics</h3>
        </a>
        <a href="#">
            <span class="material-icons-outlined">query_stats</span>
            <h3>Shares</h3>
        </a>
        <a href="categories">
            <span class="material-icons-outlined">sell</span>
            <h3>Categories</h3>
        </a>
        <a href="#">
            <span class="material-icons-outlined">newspaper</span>
            <h3>News</h3>
        </a>
        <a href="#">
            <span class="material-icons-outlined">settings</span>
            <h3>Settings</h3>
        </a>
        <a href="#">
            <span class="material-icons-outlined">logout</span>
            <h3>Logout</h3>
        </a>
        <!--ADD NEW SIDEBAR COMPONENTS HERE-->
    </div>
</aside>
