<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">

<div class="container">
    <app-sidebar></app-sidebar>
    <!--END OF SIDEBAR-->
    <!--BEGIN OF DASHBOARD-->
    <main>
        <h1>Dashboard</h1>



        <!--BEGIN OF INSIGHTS-->
        <div class="insights">
            <!--BEGIN OF SALES-->
                <div class="sales" (click)="myhref('/income')">
                    <span class="material-icons-outlined">analytics</span>
                        <div class="middle">
                            <div class="left">
                                <h3>Total Income</h3>
                                <h1>2.676€</h1>
                            </div>
                        </div>   
                        <small class="text-muted">Last 30 Days</small>          
                </div>
        <!--END OF SALES-->
        <!--BEGIN OF EXPENSES-->
            <div class="expenses">
                <span class="material-icons-outlined">bar_chart</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total Expenses</h3>
                            <h1>276€</h1>
                        </div>
                    </div>   
                    <small class="text-muted">Last 30 Days</small>          
            </div>
        <!--END OF EXPENSES-->
        <!--BEGIN OF INCOME-->
            <div class="income">
                <span class="material-icons-outlined">stacked_line_chart</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Balance</h3>
                            <h1>51.098€</h1>
                        </div>
                    </div>   
                    <small class="text-muted">Last 30 Days</small>          
            </div>
        <!--END OF INCOME-->
    </div>
    <!--END OF INSIGHTS-->

    <!--BEGIN OF RECENT ORDERS TABLE-->
    <div class="recent-orders">
        <h2>Categories</h2>
        <table>
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Limit</th>
                    <th>Current Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Clothes</td>
                    <td>150€</td>
                    <td>150€</td>
                    <td>
                        <p><ngb-progressbar [showValue]="true" type="danger" [value]="150"></ngb-progressbar></p>   
                    </td>
                </tr>
                <tr>
                    <td>Food</td>
                    <td>400€</td>
                    <td>200€</td>
                    <td>
                        <p><ngb-progressbar [showValue]="true" type="warning" [value]="50"></ngb-progressbar></p>                                       
                    </td>
                </tr>
                <tr>
                    <td>Vacations</td>
                    <td>500€</td>
                    <td>50€</td>
                    <td>
                        <p><ngb-progressbar [showValue]="false" type="success" [value]="20"></ngb-progressbar></p>
                    </td>
                </tr>
                <!--ADD NEW ELEMENTS HERE-->
            </tbody>
        </table>
        <a href="categories">Go To Categories</a>
        <!--END OF RECENT ORDER TABLE-->
    </div>
    </main>
    <!--END OF MAIN-->
    <div class="right">
        <div class="top">
            <button id="menu-btn">
                <span class="material-icons-outlined">
                    menu
                    </span>                    
            </button>
            <div class="theme-toggler">
                <span class="material-icons-outlined active">
                    light_mode
                </span>
                <span class="material-icons-outlined">
                    dark_mode
                </span>
            </div>
            <div class="profile">
                <div class="info">
                    <p>Hey, <b>Tsipi</b></p>
                    <small class="text-muted">Admin</small>
                </div>
                <div class="profile-photo">
                    
                </div>
            </div>
        </div>
        <div class="recent-updates">
            <h2>Recent Updates</h2>
            <div class="updates">
                <div class="update">
                    <div class="profile-photo">
                        <span class="material-icons-outlined">
                            person
                        </span>   
                    </div>
                    <div class="message">
                        <p><b>Elon Musk</b> kommt nicht ins Berghain!</p>
                        <small class="text-muted">Vor wenigen Sekunden</small>
                    </div>
                </div>
                <div class="update">
                    <div class="profile-photo">
                        <span class="material-icons-outlined">
                            person
                        </span>   
                    </div>
                    <div class="message">
                        <p><b>Elon Musk</b> kommt nicht ins Berghain!</p>
                        <small class="text-muted">Vor wenigen Sekunden</small>
                    </div>
                </div>
                <div class="update">
                    <div class="profile-photo">
                        <span class="material-icons-outlined">
                            person
                        </span>   
                    </div>
                    <div class="message">
                        <p><b>Elon Musk</b> kommt nicht ins Berghain!</p>
                        <small class="text-muted">Vor wenigen Sekunden</small>
                    </div>
                </div>
            </div>
            <!--END OF RECENT UPDATES-->
            <div class="sales-analytics">
                <h2>Recent Expenses</h2>
                <div class="item online">
                    <div class="icon">
                        <span class="material-icons-outlined">
                            shopping_cart
                        </span>                            
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>SALARY</h3>
                            <small class="text-muted">16.08.2022</small>
                        </div>
                        <h5 class="success">+3.900€</h5>
                    </div>
                </div>
                <div class="item offline">
                    <div class="icon">
                        <span class="material-icons-outlined">
                            local_mall
                        </span>                            
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>LIEFERANDO</h3>
                            <small class="text-muted">10.08.2022</small>
                        </div>
                        <h5 class="danger">-17€</h5>
                    </div>
                </div>
                <div class="item customer">
                    <div class="icon">
                        <span class="material-icons-outlined">
                            person
                        </span>                            
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>GIFT</h3>
                            <small class="text-muted">05.08.2022</small>
                        </div>
                        <h5 class="success">+25€</h5>
                    </div>
                </div>
            </div>
            <div class="add">
                <div class="first">
                    <span class="material-icons-outlined">
                        add
                    </span>
                    Add New Expense 
                </div>
                <a href="/income">
                    <div class="second">
                        <span class="material-icons-outlined">
                            add
                        </span>
                        Add New Income
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
